/* Frame 44 */

/* Auto layout */
.frame-44{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1441px;
height: 231px;
left: 287px;
top: 67px;
}


/* Group 44 */
.group-44{
width: 1441px;
height: 231px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* Rectangle 44 */
.rectangle-44{
position: absolute;
width: 1441px;
height: 231px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: inset 0px 4px 16px 16px rgba(0, 0, 0, 0.08);
}

/* Frame 44 */
.sub-frame-44{
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 0px 0px;
gap: 47px;

position: absolute;
width: 1278px;
height: 153px;
left: 35px;
top: 4px;
}


/* Archived tools, files and other additional content */
.welcome-header-text{
margin: 0 auto;
width: 1278px;
height: 92px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
}

/* Welcome to the Frequently Asked Questions (FAQ) section of the SITE website. Here, we've compiled a comprehensive list of common queries and inquiries to provide you with quick and informative answers to your most pressing questions about SITE. Whether you're a new visitor exploring our platform or a long-time user seeking clarification, this FAQ section aims to simplify your experience and provide valuable insights into SITE's features and functionalities. */
.welcome-header-subtext{
position: absolute;
width: 1336px;
height: 74px;
left: 35px;
top: 157px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;
}
