.welcome-text {
    width: 1336px;
    height: 74px;
    top: 157px;
    left: 35px;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #000000;
  }
  