{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "include": [
          "es6.promise",
          "es7.promise.finally"
        ],
        "corejs": "2.0",
        "debug": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
