/* Remove these styles when we start adding MUI components to the page
The styles are only here to minimally undo the CSS reset temporarilly while working on other items */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 6rem;
  min-height: 100vh;
}

.main a {
  text-decoration: underline;
  color: blue;
}

.main a:visited {
  color: purple;
}

.main a:hover {
  font-weight: bold;
}
